name: Build and Release Binary
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Build binary
        run: cargo build --release
      - name: Rename binary
        run: mv target/release/vaultwarden vaultwarden-${{ github.ref_name }}-linux-amd64
      - name: Upload binary to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: vaultwarden-${{ github.ref_name }}-linux-amd64
          asset_name: vaultwarden-${{ github.ref_name }}-linux-amd64
          tag: ${{ github.ref }}
